<form action="/places" method="post">
  <label for="name">Where was it?</label>
  <input name="name" id="name" type="text" placeholder="Enter the name of the place" required>
  <label for="description">What do you remember about it?</label>
  <input name="description" id="description" type="text" required>
  <label for="timestamp">When was it?</label>
  <input name="timestamp" id="timestamp" type="text" required>
  <button type="submit">Submit</button>
</form>